@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

:root {
    --sm: 12px;
    --md: 16px;
    --lg: 18px;
    --xl: 20px;
    --xxl: 28px;
    --xxxl: 58px;
    --color-page: #985d8a;
    --bg-principal: #e789b8;
    --color-items: #f8b4e1;
    --font-color: #ffff;
    --transition: all 300ms ease;
    --card-color: #ffeef3;
}

nav {
    background-color: var(--color-page);
    height: 7vh;
    display: flex;
    margin: auto 0;
    align-items: center;
    justify-content: space-around;
}

.nav-mobile {
    display: none !important;
}

h1 {
    font-family: 'Dancing Script', cursive;
    color: var(--font-color) !important;
    text-align: center;
    font-size: var(--xxl) !important;
    margin: auto 0;
    width: 30%;
}

.menu {
    width: 60%;
    height: 8vh;
    margin: auto 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu ul {
    display: flex;
    gap: 32px;
    justify-content: flex-end;
}

.menu ul li {
    list-style: none;
    padding: 8px 24px;
}

.menu ul li a {
    font-size: var(--md);
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--font-color);
    text-decoration: none;
}

.menu ul li:hover {
    border: 1px solid var(--color-items);
    border-radius: 8px;
}

/* Presentation */

.presentation {
    width: 100%;
}

.presentation img {
    width: 100%;
    height: 95vh;
    object-fit: cover;
    overflow-x: scroll;
    filter: brightness(30%);
}

.presentation div:nth-child(1) {
    position: absolute;
    top: 40%;
    left: 20%;
    display: flex;
    flex-direction: column;
    height: 30vh;
    gap: 10px;
}

.presentation div:nth-child(1) h2 {
    font-size: var(--xxxl);
    color: var(--font-color);
    font-family: 'Dancing Script', cursive;
}

.presentation div:nth-child(1) p {
    font-size: var(--xxl);
    color: var(--bg-principal);
    text-align: end;
}

.presentation div:nth-child(1) button {
    margin-top: 62px;
    width: 250px;
    height: 50px;
    border: 1px solid var(--bg-principal);
    background: var(--color-page);
    color: var(--font-color);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: var(--md);
    border-radius: 12px;
    margin: auto;
}

.presentation div:nth-child(1) button:hover {
    background: linear-gradient(270deg, var(--bg-principal), var(--color-items), var(--font-color));
    border: 1px solid var(--font-color);
    color: var(--font-color);
    transition: var(--transition);
}

/* about me */

.about-me-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    place-items: center;
}

.about-me-image-container img {
    width: 70%;
    height: fit-content;
    object-fit: cover;
}

.about-me-text-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.about-me-text-container div {
    width: 100%;
    background-color: var(--color-page);
    color: var(--font-color);
    padding: 8px 0;
}


.about-me-text-container div p {
    font-size: var(--xxl);
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.about-me-text-container p {
    font-size: var(--xl);
    font-family: 'Roboto Condensed', sans-serif;
}

/* Catalogue */

.catalogue-container {
    height: 100vh;
}

.cardContainer {
    width: 40%;
    height: 90vh;
    margin: auto;
    background-color: var(--card-color);
    border-radius: 16px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #b6b6b636;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.cardContainer div:nth-child(1) {
    grid-column: 2/2;
    margin: auto;
}

.cardContainer div:nth-child(1) p {
    font-size: 32px;
    color: black;
    font-family: 'Dancing Script', cursive;
}

.cardContainer div:nth-child(2) {
    width: 80%;
    grid-column: 1/4;
    grid-row: 2/5;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
} 

.cardContainer div:nth-child(2) ul li {
    list-style: none;
    font-size: var(--xl);
    margin-bottom: 44px;
}

.portfolio-container {
    max-height: 100vh;
    margin: auto;
}

.portfolio-container h3 {
    text-align: center;
    font-size: var(--xxxl);
    margin-bottom: 36px;
    font-family: 'Dancing Script', cursive;
}

.portfolio-container div {
    height: max-content;
    max-width: 80vw;
    margin: 60px auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    box-shadow: 1px 1px #b6b6b636;
}

.portfolio-container div img {
    width: 500px;
    height: 500px;
    scroll-snap-align: center;
}



@media only screen and (max-width:768px) {

    .nav-desktop {
        display: none;
    }

    .nav-mobile {
        display: block !important;
        height: 8vh !important;
    }
    
    .presentation div:nth-child(1) {
        top: 40%;
        left: 10%;
    }

    .presentation img {
        height: 100vh;
    }
    

    .about-me-container {
        display: flex;
        flex-direction: column;
        max-height: 100vh;
        margin-top: 60px;
    }

    .about-me-image-container img {
        width: 100%;
        height: 400px !important;
        object-fit: cover;
    }
    
    .about-me-text-container {
        display: flex;
        flex-direction: column;
        gap: 32px;
        order: -1;
        margin-bottom: 32px;
    }
    
    .about-me-text-container div p {
        font-size: var(--lg);
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        margin: auto 0;
    }
    
    .about-me-text-container p {
        font-size: var(--md);
        font-family: 'Roboto Condensed', sans-serif;
    }

    .catalogue-container {
        height: 100vh;
    }
    
    .cardContainer {
        width: 90%;
    }
    
    
    .cardContainer div:nth-child(1) p {
        font-size: 32px;
        text-align: center;
    }
    
    .cardContainer div:nth-child(2) {
        width: 80%;
        grid-column: 1/4;
        grid-row: 2/5;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    } 
    
    .cardContainer div:nth-child(2) ul li {
        font-size: var(--md);
        margin-bottom: 44px;
    }

    .nav-mobile-bg {
        background-color: var(--color-page);
    }

    .nav-mobile-title {
        font-size: var(--xxl) !important;
        font-family: 'Dancing Script', cursive;
        color: var(--font-color) !important;
    }

    .nav-mobile-title2 {
        font-size: var(--xxl);
        font-family: 'Dancing Script', cursive;
        color: black;
    }

    .nav-mobile-text li {
        margin: 20px 0;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: var(--xxl);
        color: black;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .cardContainer {
        width: 90%;
        overflow: hidden;
    }
    
    
    .cardContainer div:nth-child(1) p {
        font-size: 52px;
        text-align: center;
        margin: auto;
    }
    
    .cardContainer div:nth-child(2) {
        width: 80%;
        grid-column: 1/4;
        grid-row: 2/5;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    } 
    
    .cardContainer div:nth-child(2) ul li {
        font-size: var(--xxl);
        margin-bottom: 44px;
    }

    .about-me-container {
        margin-top: 60px;
        gap: 50px;
    }
    
    
    .about-me-image-container img {
        width: 100%;
        height: fit-content;
        object-fit: cover;
    }
    
    .about-me-text-container div p {
        font-size: var(--lg);
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        margin: auto 0;
    }
    
    .about-me-text-container p {
        font-size: var(--md);
        font-family: 'Roboto Condensed', sans-serif;
    }

    .menu {
        width: 60%;
        height: 7vh;
        margin: auto 0;
        display: flex;
        justify-content: space-around;
    }
    
    .menu ul {
        display: flex;
        gap: 32px;
        justify-content: flex-end;
        align-items: center;
    }
    
    .menu ul li {
        list-style: none;
        padding: 8px 24px;
    }
    
    .menu ul li a {
        font-size: var(--md);
        font-family: 'Roboto Condensed', sans-serif;
        color: var(--font-color);
        text-decoration: none;
    }
    
    .menu ul li:hover {
        border: 1px solid var(--color-items);
        border-radius: 8px;
    }
}